<div class="container-fluid body-content-wrapper">
  <h1>Listing all articles</h1>
   <div class="row">
      <% @articles.each do |article| %>
        <div class="col-sm-12 col-md-4 article-display">
          <a><%= link_to article.title, article %></a>
          <p>
          <%= article.user.first_name %>&nbsp;<%= article.user.last_name %>
          </p>
          <p>
            <%= link_to 'View', article_path(article) %>
            <% if can? :update, article %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <% end %>
            <% if can? :destroy, article %>
            <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm:'Are you sure' } %></p>
            <% end %>
        </div>  
      <% end %>    
    </div>
    <div class="new-article">
    <% if can? :create, Article %>
      <%= link_to 'New Article', new_article_path %>
    <% end %>  
    </div>
</div>